.dmBadge {
  background-color: cornflowerblue;
  color: white;
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.4rem;
  font-size: 0.8rem;
}