.userLink {
  color: #7db8ff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  transition:
    color 0.15s,
    text-decoration 0.15s;
}
.userLink:hover,
.userLink:focus {
  color: #a7ceff;
  text-decoration: underline;
  font-weight: 800;
}
